@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}


* {
  box-sizing: border-box;
  outline: 0;
}


body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}


.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
  text-align: center;
}

.container h1{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.350);
}

.cpf-generated{
  text-align: center;
  font-size: 1.2em;
  color: limegreen;
  font-weight: 500;
  /* background-color: rgba(114, 236, 114, 0.534); */
  /* background-image: linear-gradient(to right, rgba(114, 236, 114, 0.534), #fff); */
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.btn-generator, .checker-btn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(202, 201, 201, 0.781);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  width: 100px;
}

/* .checker-btn{} */

.btn-generator:hover,
.checker-btn:hover{
  background-color: rgba(64, 219, 64, 0.87);
  transform: translateY(-2px);
}

.input-checker{
  width: 100%;
  height: 31px;
  text-align: center;
  font-size: 1.2em;
}

.valid-result{
  color: green;
  margin-top: 20px;
  background-image: linear-gradient(to right, rgba(114, 236, 114, 0.534), #fff);
}

.invalid-result{
  color:red;
  margin-top: 20px;
  background-image: linear-gradient(to right, rgba(212, 32, 26, 0.534), #fff);
}